.about {
  display: flex;
  padding: 150px 11% 70px;

  @media(max-width: 1000px) {
    padding-top: 100px;
  }

  &__title {
    width: 30%;

    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #22356f;
  }

  &__text {
    width: 55%;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.01em;

    color: #22356f;

    @media(max-width: 1000px) {
      width: 70%;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
