.button {
  width: 150px;
  height: 50px;

  font-size: 14px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: $c-white;
  text-transform: uppercase;
  text-decoration: none;

  background: #62d0fd;
  border-radius: 50px;
  border: 2px solid $c-light-blue;
  cursor: pointer;
  outline: none;

  transition: color 0.3s, background-color 0.3s;

  &:hover {
    background-color: transparent;
    color: #62d0df;
  }

  @media (min-width: 2000px) {
    width: 200px;
    height: 70px;

    font-size: 24px;
    line-height: 70px;
  }

  @media (max-width: 1000px) {
    width: 120px;
    height: 40px;
    line-height: 40px;
  }

  @media (max-width: 700px) {
    display: none;
  }
}
