.card {
  font-size: 32px;
  letter-spacing: -0.01em;
  color: $c-white;

  border: 1px solid transparent;

  @media(max-width:450px) {
    font-size: $header-text-size;
  }

  &:before {
    content: "";
    position: relative;
    top: 15%;
    margin: 0 auto;

    display: block;
    width: 70%;
    height: 1px;

    border-radius: 10px;
    background-color: $c-white;

    box-shadow: inset 0 -1px 0 $c-white;
  }

  &--dark-blue {
    background-color: $c-dark-blue;
  }

  &--blue {
    background-color: #0052c1;
  }

  &--picture {
    background-image: url(../images/joanna-kosinska-340748.png);
  }

  &--light-blue {
    background-color: $c-light-blue;
  }

  &--sky-blue {
    background-color: $c-sky-blue;
  }

  &--purple {
    background-color: $c-purple;
  }

  &--green {
    background-color: $c-green;
  }

  &--pink {
    background-color: $c-pink;
  }

  &__title {
    padding: 20% 22%;

    &--new-line {
      word-spacing: 80px;
    }

    &:before {
      content: "";
      position: relative;
      top: 20px;
      right: 25px;

      display: block;
      width: 12px;
      height: 12px;

      background-color: $c-orange;
      border: 1px solid transparent;
      border-radius: 50%;

      @media(max-width: 700px) {
        top: 16px;

        width: 8px;
        height: 8px;
      }
    }
  }
}
