.contact-us {
  display: flex;
  justify-content: space-between;

  @media(max-width:700px) {
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    display: block;
    width: 33%;
    object-fit: cover;
    object-position: center;

    @media(max-width:700px) {
      width: 100%;
      height: $img-smallvw-height;
      object-position: 65% 35%;
    }
  }

  &__article {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 11%;

    background-color: $c-dark-blue;

    @media(max-width:700px) {
      width: 100%;
      gap: 30px;
      padding: 30px 11%;
    }
  }

  &__title {
    margin-bottom: 100px;

    font-size: $middle-text-size;
    line-height: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $c-white;

    @media (min-width:2000px) {
      font-size: 28px;
    }

    @media(max-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &__moto {
    font-size: $huge-title-size;
    font-weight: bold;
    line-height: 94px;
    letter-spacing: -0.01em;
    color: $c-white;

    @media (min-width:2000px) {
      font-size: 72px;
    }

    @media (max-width:900px) {
      font-size: 42px;
      line-height: 70px;
    }

    @media(max-width:700px) {
      font-size: 32px;
    }
  }

  &__text {
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
    width: 70%;
    color: $c-white;

    @media (min-width:2000px) {
      font-size: 48px;
      line-height: 90px;
    }

    @media (max-width: 1000px) {
      line-height: 42px;
      font-size: 30px;
    }

    @media(max-width:700px) {
      width: 100%;
    }
  }

  &__link {
    font-size: $middle-text-size;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: $c-light-blue;

    @media (min-width:2000px) {
      font-size: 28px;
    }

    &:hover {
      color: $c-yellow;
    }
  }
}
