.footer {
  &__top {
    display: flex;
    justify-content: space-between;
    height: 380px;

    @media (max-width: 650px) {
      justify-content: center;
      padding: 0 11%;
    }
  }

  &__img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__info {
    width: 57%;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 240px));
    gap: 40px;
    justify-content: center;
    padding-top: 80px;

    @media (max-width: 900px) {
      gap: 20px;
    }

    @media (max-width: 650px) {
      width: 100%;
      grid-template-columns: repeat (3, 1fr);
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    font-weight: bold;

    color: #22356f;
  }

  &__text {
    margin-bottom: 23px;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.01em;

    color: rgba(34, 53, 111, 0.5);
  }

  &__link {
    display: block;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.01em;
    text-decoration: none;
    color: $c-blue;
    transition: color 0.3s;

    &:hover {
      color: $c-dark-blue;
    }

    &--grey {
      color: rgba(34, 53, 111, 0.5);
    }
  }

  &__bottom {
    display: block;
    padding: 0 11%;
    line-height: 80px;
    height: 80px;
    background: #62d0df;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #fff;
  }
}
