.header {
  position: relative;
  padding: 27px 10%;

  @media (max-width: 700px) {
    padding-top: 60px;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: url(../images/header-cut-img.png),
      url(../images/header-ellipse.png),
      linear-gradient(90deg, $c-beige 0%,
      $c-beige 79%,
      $c-white 80%,
      $c-white 100%);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;

    @media (max-width: 1000px) {
      opacity: 0.5;
    }
  }

  &__top {
    margin-bottom: 180px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (max-width: 700px) {
      margin-bottom: 50px;
    }

    @media (min-width: 2000px) {
      margin-bottom: 250px;
    }
  }

  &__title {
    margin-bottom: $header-text-size;

    font-size: $header-text-size;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: $c-light-blue;

    @media (min-width: 2000px) {
      font-size: $big-title-size;
      margin-bottom: 80px;
    }
  }

  &__logo {
    @extend .header__title;

    @media (max-width: 700px) {
      display: none;
    }
  }

  &__promo {
    width: 35vw;

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__promo-title {
    margin-bottom: 48px;

    @include big-font-size;
    text-transform: uppercase;

    @media (max-width: 700px) {
      font-size: 36px;
    }

    @media (min-width: 2000px) {
      margin-bottom: 150px;
      font-size: $huge-title-size;
    }
  }

  &__promo-text {
    margin-bottom: 75px;

    font-size: $header-text-size;
    line-height: 42px;

    @media (max-width: 700px) {
      margin-bottom: 40px;

      width: 100%;

      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: 2000px) {
      margin-bottom: 120px;
      font-size: $big-title-size;
      line-height: 70px;
    }
  }

  &__links {
    display: flex;
    column-gap: 50px;

    @media(max-width: 700px) {
      column-gap: 5px;
      justify-content: space-around;
    }
  }

  &__link {
    display: block;
    width: 150px;

    font-size: $middle-text-size;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.1em;
    color: $c-yellow;
    text-transform: uppercase;
    text-decoration: none;

    border: solid transparent 2px;

    transition: border-color 0.3s;

    &:hover {
      border-color: $c-yellow;
    }

    @media(max-width:600px) {
      @include small-font-size;
    }

    @media (min-width: 2000px) {
      margin-bottom: 100px;
      width: 240px;
      height: 80px;

      font-size: $header-text-size;
      line-height: 80px;
    }

    &--is-active {
      background-color: $c-yellow;
      color: $c-white;
    }
  }
}
