.info-card {
  height: $card-width/2;
  align-items: center;
  padding: 22% 20%;

  &__title {
    padding-bottom: 28px;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;

    color: #22356f;
  }

  &__text {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);
  }
}
