.introduction {
  display: flex;
  justify-content: space-between;

  @media (max-width: 700px) {
    flex-direction: column;
  }

  &__article {
    background-color: $c-light-blue;
    padding: 150px 12% 50px;

    @media (max-width: 1000px) {
      padding: 50px 6%;
    }

    @media (max-width: 700px) {
      width: 100%;
      padding: 40px 11%;
    }

    @media(min-width: 2000px) {
      width: 65%;
      padding: 250px 12% 100px;
    }
  }

  &__title {
    padding-bottom: 75px;
    font-size: $big-title-size;
    line-height: 27px;
    letter-spacing: -0.01em;

    color: $c-white;

    @media (max-width: 800px) {
      font-size: 30px;
      padding-bottom: 40px;
    }

    @media(min-width: 2000px) {
      font-size: 48px;
      padding-bottom: 150px;
    }
  }

  &__text {
    font-size: $header-text-size;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: $c-white;

    @media (max-width: 900px) {
      font-size: $middle-text-size;
      line-height: 28px;
    }

    @media(min-width: 2000px) {
      font-size: 36px;
      line-height: 70px;
    }
  }

  &__img {
    display: block;

    width: 35%;
    object-fit: cover;
    object-position: left;

    @media (max-width: 700px) {
      height: $img-smallvw-height;
      width: 100%;
      object-position: 70% 40%;
    }
  }
}
