.introduction {
  display: flex;
  justify-content: space-between;
  height: 600px;

  @media (max-width: 1000px) {
    height: 400px;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    height: 600px;
  }

  &__article {
    width: calc(65% - 10px);
    background-color: $c-light-blue;
    padding: 150px 12% 0;

    @media (max-width: 1000px) {
      padding: 50px 6%;
    }

    @media (max-width: 650px) {
      width: 100%;
      padding: 40px 11% 0;
      height: 300px;
    }
  }

  &__title {
    padding-bottom: 75px;
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.01em;

    color: $c-white;

    @media (max-width: 1000px) {
      font-size: 30px;
      padding-bottom: 40px;
    }
  }

  &__text {
    font-size: 22px;
    line-height: 35px;
    font-weight: 300;
    color: $c-white;

    @media (max-width: 1000px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__strong-text {
    font-size: 24px;

    @media (max-width: 1000px) {
      font-size: 16px;
    }
  }

  &__img {
    display: block;
    height: 600px;
    width: calc(35% - 10px);
    object-fit: cover;
    object-position: center;

    @media (max-width: 1000px) {
      height: 400px;
    }

    @media (max-width: 650px) {
      height: 300px;
      width: 100%;
    }
  }
}
