@import "utils";
@import "_fonts";
@import "card";
@import "grid";
@import "helpareas";
@import "info-card";
@import "additional";
@import "contact-us";
@import "footer";
@import "header";
@import "introduction";
@import "nav";
@import "about";
@import "button";
@import "page";

* {
  box-sizing: border-box;
}

html {
  font-family: "Larsseit", Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body,
p,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}
