$c-gray: #eee;
$c-yellow: #fab63e;
$c-orange: #e9b730;
$c-white: #fff;
$c-dark-blue: #22356f;
$c-light-blue: #62d0df;
$c-blue: #006dff;
$c-beige: #f4f9e2;
$c-sky-blue: #dee1ff;
$c-purple: #8f00ff;
$c-green: #c4e769;
$c-pink: #ffe2de;

$card-width: 480px;
$small-card-width: 360px;
$max-width: 1440px;
$img-smallvw-height: 300px;

$main-text-color: $c-dark-blue;

$huge-title-size: 64px;
$big-title-size: 36px;
$header-text-size: 24px;
$middle-text-size: 16px;
$small-text-size: 14px;
